body {
    background: linear-gradient(to right,black,white);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.interface {
    display: inline-block;
}
input[type="button"]{
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}
input[type="text"] {
    height: 50px;
    width: 269px;
}